<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html>
<head>
<title>About</title>
<!-- CSS -->
<link rel="stylesheet" href="{% static "css/base.css" %}" />
<!-- JavaScript -->
<script src="{% static "js/jquery.js" %}"></script>
</head>
<body>
<h1>Rango says...</h1>
<div>
Rango says here is the about page.<br /><strong>{{ boldmessage }}</strong><br />
</div>
<div>
This tutorial has been put
together by 2274277-Imam Reiza Fahlevi.
</div> <br/>
<div>
<a href="/rango/">Rango</a><br />
<img src="{{ MEDIA_URL}}cat.jpg" alt="Picture of Happy Cat" /> <br />

<img src="{% static "images/rango.jpg" %}"
			alt="Picture of Rango" />
</div>
</body>
</html>