<!DOCTYPE html>
<html>
<head>
<title>Rango - Add Page</title>
</head>
<body>
	{% if category %}
<h1>Add a Page to {{category.name}}</h1>

<div>
<form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">
{% csrf_token %}
{% for hidden in form.hidden_fields %}
	{{ hidden }}
{% endfor %}
{% for field in form.visible_fields %}
	{{ field.errors }}
	{{ field.help_text }}
	{{ field }}
{% endfor %}
<input type="submit" name="submit" value="Add Page" />
</form>
{% else %}
	A category by this name does not exist
{% endif%}
<br><a href="/rango/">Rango</a><br />
</div>
</body>
</html>

<!-- In the add_page.html template you can access the slug with {{ category.slug }}
because the view passes the category object through to the template via the context
dictionary.
• Ensure that the link only appears when the requested category exists - with or
without pages. i.e. in the template check with {% if cat %} .... {% else %} A
category by this name does not exist {% endif %}.
• Update Rango’s category.html template with a new hyperlink with a line break
immediately following it: <a href="/rango/category/{{category.slug}}/add_-
page/">Add Page</a> <br/>
• Make sure that in your add_page.html template that the form posts to
/rango/category/{{ category.slug }}/add_page/.
• Update rango/urls.py with a URL mapping (/rango/category/<category_name_-
slug>/add_page/) to handle the above link.
• You can avoid the repetition of max_length parameters through the use of an
additional attribute in your Category class. This attribute could be used to store
the value for max_length, and then be referenced where required. -->