{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }}
{% endblock %}

{% block body_block %}

	{% if pages %}
		<h1>{{ category.name }}</h1>

			<ul>
		{% for page in pages %}
			<li><a href="{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
			</ul>
		{% else %}
			<strong>No pages currently in category.</strong>
		{% endif %}

{% endblock %}

<!--{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title_block %}
{{ category.name }}
{% endblock %}

{% block body_block %}


{% endblock %}-->

<!--
<!DOCTYPE html>
<html>
<head>
	<title>Rango</title>
</head>
<body>
	<div>

		{% if pages %}
		<h1>{{ category.name }}</h1>

			<ul>
		{% for page in pages %}
			<li><a href="{{ page.url }}">{{ page.title }}</a></li>
		{% endfor %}
			</ul>
		{% else %}
			<strong>No pages currently in category.</strong>
		{% endif %}

	</div>

	<div><a href="/rango/">Rango</a><br/>
	</div>


</body>
</html>-->
